:root {
  --bg-primary: #EEEEEE;
  --bg-secondary: #2C3333;
  --bg-third: #FFFAF4;
  --txt-primary: #212A3E;
  --txt-secondary: #9BA4B5;
  --txt-third: #DCD7C9;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  border: none;
  padding: 0;
}

body {
  background-color: var(--bg-primary);
  color: var(--txt-primary);
  font-family: "Lato", sans-serif;
  position: relative;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

::selection {
  /* background-color: var(--bg--fourth); */
  /* color: var(--bg-primary); */
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.float-wa {
  height: 60px;
  width: 60px;
  position: fixed;
  background-color: #25D366;
  display: grid;
  place-items: center;
  border-radius: 50%;
  right: 20;
  bottom: 20;
}


.float-wa svg {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5;
}

header {
  position: relative;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

header nav svg {
  width: 25px;
}

header nav .profile svg {
  width: 20px;
}

header nav img {
  width: 170px;
}

header nav #hamburger {
  cursor: pointer;
}

header nav .sidebar {
  position: fixed;
  top: 60;
  left: -100%;
  height: 100vh;
  background-color: #aaa;
}

header nav .sidebar.show {
  left: 0;
}

header nav .nav-right {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}

header nav .nav-right a {
  display: flex;
}

header nav .keranjang {
  margin-right: 8px;
  margin-top: 3px;
}

header nav .profile {
  margin: 0 10px 3px 0;
}

header nav .history {
  margin: 0 10px 7px 0;
}

header nav .logout {
  margin: 0 10px 0 0;
}

header nav .nav-right a p {
  background-color: var(--bg-secondary);
  color: var(--txt-third);
  height: 14px;
  width: 14px;
  font-size: .7rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  margin-left: 1px;
}

header nav a {
  color: var(--txt-primary);
}

main .container .search {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
}

main .container .search input {
  width: 550px;
  height: 50px;
  padding: 1rem;
  font-size: 1.4rem;
  border-radius: inherit;
}

main .container .search input:focus {
  outline: 2px solid;
}

main .container .search div {
  border-radius: 10px;
  position: relative;
  box-shadow: 0 3px 18px rgb(0 0 0 / 20%);
}

main .container .search button {
  text-transform: uppercase;
  width: 100px;
  height: 50px;
  font-size: 1.15rem;
  background-color: var(--txt-third);
  cursor: pointer;
  right: 0;
  border-radius: 0 10px 10px 0;
  position: absolute;
}

main .jumbotron {
  margin-bottom: 5rem;
}

main .jumbotron .your-class {
  width: 100vw;
  height: 400px;
}

main .produk {
  display: flex;
  gap: 10px;
  padding: 0 3rem;
  justify-content: center;
  flex-wrap: wrap;
}

main .produk .card {
  background-color: #fefefe;
  width: 300px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  border-radius: 15px;
  text-align: center;
}

main .produk .card img {
  border-radius: 15px 15px 0 0;
}

main .produk .card h2 {
  font-size: 1.2rem;
  padding: 1rem 1rem 0;
  color: var(--txt-primary);
}

main .produk .card div {
  color: var(--txt-primary);
  padding: 1rem 0;
}

main .container .paginator {
  margin: 2rem 0;
}

main .container .paginator ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  font-size: 2rem;
}

main .container .paginator ul li span {
  color: #888;
}

main .container .paginator ul li a {
  color: var(--bg-secondary);
}

footer {
  background-color: var(--bg-secondary);
  color: var(--txt-third);
}

footer > div {
  display: flex;
}

footer div div h3 {
 color: var(--txt-third);
}

footer div div p {
  color: #ccc;
}

footer div.sosial-media {
  border-bottom: 1px solid var(--bg-primary);
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: .5rem;
}

footer div.sosial-media a svg {
  width: 25px;
}
  
footer > p {
  text-align: center;
  font-size: .9rem;
  padding: 0 0 .5rem;
}