:root {
  --bg-primary: #EFF5F5;
  --bg-secondary: #EB6440;
  --txt-primary: #497174;
  --txt-secondary: #D6E4E5;
}

* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-primary);
  color: var(--txt-primary);
  font-family: "Lato", sans-serif;
}

::selection {
  /* background-color: var(--bg--fourth); */
  /* color: var(--bg-primary); */
}

main {
  padding: 0 3rem;
}

.container {
  display: flex;
  gap: 20px;
}

.card {
  background-color: var(--txt-secondary);
  margin: 0 auto;
  border-radius: 10px;
}

.card a {
  height: auto;
  color: inherit;
}

.card a img {
  width: 300px;
  border-radius: 10px 10px 0 0;
}

.card a div {
  width: 300px;
  text-align: center;
}

.card a div h2 {
  font-weight: 400;
  font-size: 1rem;
  height: 50px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card a div div {
  width: 17rem;
  margin: 0 auto;
  padding-bottom: 15px;
}

.card a div div p {
  margin-bottom: 3px;
}